body{
    background-color: beige;
}
.card{
    background-color: antiquewhite;
    width: 315px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 25px;
    margin: auto;
    box-shadow: 10px 10px lightgray;
}
.card:hover{
    background-color: lightblue;
    color:navy;
}