.navi ul{
    width:200px;
    margin:auto;
    padding:0;
    background-color: lightblue;
    color:white;
    border:1px solid black;
    list-style-type: none;
}
.navi ul li a{
    display:block;
    color:black;
    padding:8px 16px;
    text-decoration:none;
    border-bottom: 1px solid black;
}
.navi ul li a.active{
    background-color: lightsalmon;
    color:black;
}
.navi ul li a:hover{
    background-color: grey;
    color:black;
}
